@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;

}

div {
  font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #383838;
}

::-webkit-scrollbar-thumb {
  background-color: #1b132a;
  border-radius: 10px;
}

#nprogress .bar {
  z-index: 1100 !important;
}